
:root {
    --primary-color: #eaeffe;
    --secondary-color: #8a5fde;
}
h1{
    font-size: 44px;
    line-height: 46px;
    font-weight: 700;
}
h2{
    font-size: 32px;
    line-height: 38px;
}
h3{
    font-size: 24px;
    line-height: 32px;
} 
h4{
    font-size: 20px;
    line-height: 28px;
}

.btn-primary{
    background-color: var(--primary-color);
    padding: 12px 24px;
    border-radius: 8px;
    color: #2d274b;
    font-size: 16px;
    font-weight: 500;
}
.btn-primary:hover{
    background-color: var(--secondary-color);
    color: #efefef;
    cursor: pointer;
}

.btn-secondary{
    border: 1px solid var(--primary-color);
    padding: 12px 24px;
    border-radius: 8px;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
}
.btn-secondary:hover{
    background-color: #eaeffe33;
    cursor: pointer;
}
input{
    width: 342px;
    height: 48px;
    border: 1px solid #80818C;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: transparent;;
}
textarea{
    width: 342px;
    height: 121px;
    border: 1px solid #80818C;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: transparent;;
    resize: none;
}
input::placeholder, textarea::placeholder{
    color: #80818C;
    font-size: 16px;
    font-weight: 500;
}
input:hover, textarea:hover{
    border-color: var(--secondary-color);
}
input:focus, textarea:focus{
    outline: none;
    border-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
}

body{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    background-image: url('img/Version\ mobile.png');
    background-size: cover;
    color: #efefef;
    line-height: 1.5;
}

.navBar{
    position: fixed;
    z-index: 200;;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    height: 58px;
    padding: 12px 0;
    border-bottom: 1px solid #efefef33;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      background-color: white !important;
    }

.hamburger {
    position: relative;
    right: .5rem;
    top: .5rem;
    z-index: 102;
}
.nav-items {
    position: fixed;
    top: 0;
    right: -1000px;
    opacity: 0; 
    width: 70%;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 101;
    transition: all 0.5s ease-in;
}
.nav-items.is-open{
    opacity: 1; 
    right: 0;
}
.nav-items li{
    padding: 1rem;
    margin: 0 1rem;
    color:black;
}

.hero{
    display: flex;
    /* width: 100%; */
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding-top: 114px;
}

.hero .info-hero{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.hero .btns-container{
    display: flex;
    gap: 28px;
}

.about-me{
    text-align: center;
    margin: 153px 319px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.skills{
    height: 666px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
    margin: 0 210px;
}

.skills .skills-container{
    display: flex;
    gap: 97px;
    flex-wrap: wrap;
}

.skills-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    height: 142px;
    border: 1px solid #EAEFFE33;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
}

.skills-container div img{
    width: 90px;
    height: 94px;
}


.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}
.proyects .cards-container{
    display: flex;
    gap: 32px;
    margin-bottom: 100px;
}

.cards-container .card{
    width: 378px;
    height: 432px;
    border: 1px solid #EAEFFE;
    border-radius: 12px;
    background-color: #efefef;
}
.contact{
    text-align: center;
    margin: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px 12px 0 0;
    padding: 32px 126px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
}
footer ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.icon-up{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    max-width: 100%;
}



@media screen and (min-width: 768px) {
    body{
        background-image: url('img/Version\ Escritorio.png');
    }
    /* Barra de navegacion*/
    .navBar{
        margin-top: 24px;
        margin-left: 117px;
        height: 58px;
        width: 916px;
        border-radius: 12px;
        padding: 12px 40px;
        border: 1px solid #efefef33;
    }
    .navBar .hamburger {
        display: none;
    }
    .nav-items{
        position: static;
        display: flex;
        height: auto;
        width: auto;
        flex-direction: row;
        color: #efefef;
        background-color: transparent;
        opacity: 1;
        gap: 10px;
    }
    .nav-items li{
        color: #efefef;
        padding: 10px 36px;
    }
    .nav-items li:hover{
        background-color: var(--primary-color);
        color: #2d274b;
        border-radius: 12px;
        cursor: pointer;
    }
    h1{
        font-size: 61px;
        line-height: 77px;
    }
    .hero{
        padding-top: 150px;
        padding-left: 117px;
    }
}